/* Theme Name: CV_Theme Version: 1.0 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/** 1. Change the default font family in all browsers (opinionated). 2. Correct the line height in all browsers. 3. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
/* Document ========================================================================== */
html { font-family: sans-serif; /* 1 */ line-height: 1.15; /* 2 */ -ms-text-size-adjust: 100%; /* 3 */ -webkit-text-size-adjust: 100%; /* 3 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

/** Add the correct display in IE 9-. */
article, aside, footer, header, nav, section { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in IE. */
figcaption, figure, main { /* 1 */ display: block; }

/** Add the correct margin in IE 8. */
figure { margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }

/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Add the correct display in IE 9-. */
audio, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: sans-serif; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** 1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. */
details, menu { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Scripting ========================================================================== */
/** Add the correct display in IE 9-. */
canvas { display: inline-block; }

/** Add the correct display in IE. */
template { display: none; }

/* Hidden ========================================================================== */
/** Add the correct display in IE 10-. */
[hidden] { display: none; }

footer.site-footer { background-color: #0e7684; height: 140px; padding: 20px; }

@media (min-width: 0px) and (max-width: 610px) { footer.site-footer { height: 200px; padding: 0px; } }

footer.site-footer div.text-search { margin-bottom: 20px; text-align: center; color: #ff9800; }

@media (min-width: 610px) and (max-width: 9000px) { footer.site-footer div.text-search { display: flex; justify-content: space-between; text-align: left; padding: 0 20px; margin-bottom: 35px; } }

footer.site-footer div.text-search div.footer-text-widget li { list-style: none; }

footer.site-footer div.text-search div.footer-text-widget li .widgettitle { font-size: 18px; color: #ff9800; margin: 0 0 4px 0; }

footer.site-footer div.text-search div.footer-text-widget li .textwidget { font-size: 14px; color: #ebebd3; }

@media (min-width: 0px) and (max-width: 610px) { footer.site-footer div.text-search div.footer-text-widget li .textwidget { margin-bottom: 20px; } }

footer.site-footer div.text-search div.search-form { margin-top: 4px; }

footer.site-footer div.text-search div.search-form label { font-family: Baskerville, serif; font-weight: bold; }

footer.site-footer input.search-field { width: 120px; border: 3px; border-color: #fff; }

footer.site-footer input.search-submit { background-color: #ebebd3; border: none; }

footer.site-footer .footer-name-year { text-align: center; width: 80%; margin: 0px auto; color: #ff9800; }

html { position: relative; min-height: 100%; }

.container { margin-bottom: 180px; /* Height of footer (incl. padding!)*/ }

.site-footer { position: absolute; bottom: 0; left: 0; right: 0; }

div.footer-widget { color: #fff; }

div.header-wrapper { background-color: #179aab; width: auto; height: auto; margin: 0; }

div.header-wrapper .site-header .header-title { max-width: 80%; margin: 0 auto; text-align: center; }

div.header-wrapper .site-header .header-title h1 { font-size: 90px; color: #05bbd2; }

@media (min-width: 600px) and (max-width: 9000px) { div.header-wrapper .site-header .header-title h1 { font-size: 150px; } }

div.header-wrapper .site-header .header-title p { color: #fff; }

@media (min-width: 600px) and (max-width: 9000px) { div.header-wrapper .site-header .header-title p { font-size: 20px; } }

.site-nav { max-width: 80%; padding-top: 20px; margin: 0 auto; }

.site-nav-other { background-color: #f9f8f1; padding: 5px 80px; margin: 0 auto; }

@media (min-width: 601px) and (max-width: 750px) { .site-nav-other { padding: 5px 20px; } }

@media (min-width: 0px) and (max-width: 600px) { .site-nav-other { padding: 5px 0; } }

ul.menu { padding: 0; max-width: 70%; margin: 0 auto; text-align: center; }

@media (min-width: 600px) and (max-width: 9000px) { ul.menu { padding-left: 28px; margin: 0 auto; display: flex; justify-content: space-between; } }

ul.menu li { list-style: none; padding: 5px; }

@media (min-width: 600px) and (max-width: 9000px) { ul.menu li { float: left; text-align: center; } }

ul.menu li a { font-size: 14px; color: black; font-weight: bold; text-decoration: none; }

ul.menu li a:hover { font-weight: normal; }

div.intro-text { background-color: #fff; width: auto; padding-bottom: 20px; }

div.intro-text article.post { background-color: #fff; margin: 0 auto; max-width: 700px; padding: 50px; }

@media (min-width: 950px) and (max-width: 9000px) { div.intro-text article.post { margin: 0px auto; } }

div.intro-text article.post p { line-height: 1.4em; margin: 5px 0; }

div.intro-text article.post p a { font-size: 12px; }

div.intro-text article.post h1 { color: #ff9800; }

@media (min-width: 0px) and (max-width: 600px) { div.intro-text article.post h1 { text-align: center; } }

aside.clear { padding-bottom: 60px; margin: 0 auto; width: 90%; display: flex; flex-wrap: wrap; justify-content: space-between; }

@media (min-width: 0px) and (max-width: 550px) { aside.clear { display: block; } }

aside.clear div.item { width: 45%; padding-bottom: 60px; }

@media (min-width: 0px) and (max-width: 550px) { aside.clear div.item { margin: 0 auto; width: 90%; } }

aside.clear div.item h3 { color: #ff9800; }

div.post-container-single { width: 80%; margin: 0 auto; }

div.post-container-single article.post { display: flex; margin: 0 auto; padding: 50px; }

@media (min-width: 0px) and (max-width: 690px) { div.post-container-single article.post { display: block; padding: 0 50px 70px 50px; } }

div.post-container-single article.post div.thumbnail-large { padding: 20px; }

@media (min-width: 0px) and (max-width: 690px) { div.post-container-single article.post div.thumbnail-large { text-align: center; } }

div.post-container-single article.post div.post-container-content { padding: 30px; }

@media (min-width: 0px) and (max-width: 690px) { div.post-container-single article.post div.post-container-content { padding: 0px; } }

div.post-container-single article.post div.post-container-content h2 { color: #ff9800; padding-bottom: 10px; }

@media (min-width: 0px) and (max-width: 690px) { div.post-container-single article.post div.post-container-content h2 { text-align: center; } }

div.post-container-search div.result { margin: 50px; }

div.post-container-search p { margin-left: 50px; }

div.searchresult-boxes { margin: 0 auto; width: 60%; display: flex; flex-wrap: wrap; justify-content: space-around; }

div.searchresult-boxes .searchbox { margin: 10px; }

.image .title h3 a { color: #ff9800; }

.meta .categories { font-size: 14px; font-weight: bold; }

.meta .date { font-size: 14px; }

div.oops .oops-inside { margin: 15%; }

div.oops .oops-inside a { color: #ff9800; }

/* general style*/
div.container { max-width: 100%; padding: 0; font-family: Avenir, sans-serif; line-height: 1.5; }

h1, h2, h3, h4, h5 { font-family: Baskerville, serif; margin: 0; }

p { margin: 0; }

.header-halfmoon-eggshell { background-color: #179aab; }

.header-halfmoon-eggshell img { display: none; }

@media (min-width: 925px) and (max-width: 9000px) { .header-halfmoon-eggshell img { margin: 0 20% 0 80%; display: block; } }

div.presentation-container { background-color: #ebebd3; min-height: 150px; width: auto; }

div.presentation-container div.presentation-text { width: 70%; margin: 0 auto; padding: 25px 5px; }

@media (min-width: 925px) and (max-width: 9000px) { div.presentation-container div.presentation-text { max-width: 55%; } }

div.presentation-container div.presentation-text h1 { text-align: center; color: #9e9e9e; padding: 10px 5px; }

div.presentation-container div.presentation-text p { padding: 15px 3px; }

div.header-halfmoon-two { background-color: #ebebd3; }

div.header-halfmoon-two img { display: none; }

@media (min-width: 925px) and (max-width: 9000px) { div.header-halfmoon-two img { margin-left: 7%; display: block; } }

div.post-container { background-color: #fff; width: auto; padding-bottom: 20px; }

div.post-container .title-center { text-align: center; color: #9e9e9e; padding: 35px 5px; }

div.post-container .category-title { text-align: left; color: #ff9800; padding: 35px 5px; margin-left: 14%; }

@media (min-width: 0px) and (max-width: 999px) { div.post-container .category-title { text-align: center; margin-left: 0; } }

div.post-container article.post { background-color: #f9f8f1; margin: 10px auto; width: 250px; border: 5px #ff9800 solid; }

@media (min-width: 0px) and (max-width: 400px) { div.post-container article.post { width: auto; } }

div.post-container article.post p a { font-size: 12px; }

div.post-container article.post h3 a { color: #ff9800; }

div.post-page { margin: 0 auto; padding: 20px; }

@media (min-width: 950px) and (max-width: 9000px) { .flex-container { width: 75%; display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 auto; } }

.page-container { margin: 0 auto; }

article.has-thumbnail { position: relative; padding: 12px 12px 12px 100px; }

article.has-thumbnail a { text-decoration: none; color: #716e69; }

article.has-thumbnail .post-thumbnail { width: 70px; height: 65px; position: absolute; left: 10px; top: 8px; }

article.has-thumbnail .post-thumbnail img.wp-post-image { display: block; margin: auto; height: 100%; }

div.header-halfmoon-three { background-color: #fff; }

div.header-halfmoon-three img { display: none; }

@media (min-width: 925px) and (max-width: 9000px) { div.header-halfmoon-three img { margin-left: 80%; display: block; } }

div.above-footer-container { background-color: #ebebd3; width: auto; }

@media (min-width: 925px) and (max-width: 9000px) { div.above-footer-container { display: flex; flex-direction: row; justify-content: space-around; } }

div.above-footer-container .above-footer-widget { margin: 0 auto; width: 200px; padding: 30px; }

div.above-footer-container .above-footer-widget li { list-style: none; }

div.above-footer-container .above-footer-widget li h2 { text-align: center; }
