// Footer style

footer.site-footer{
	background-color: $bluethree;
	height: 140px;
	padding: 20px;
	@include break(0px, 610px) {
		height: 200px;
		padding: 0px
	}

	// Widget (contact) and search form
    div.text-search {
		margin-bottom: 20px;
		text-align: center;
		color: $orange;
		@include break(610px, 9000px) {
			display: flex;
			justify-content: space-between;
			text-align: left;
			padding: 0 20px;
			margin-bottom: 35px;
			}
		div.footer-text-widget {
			li {
				list-style: none;
				.widgettitle {
					font-size: 18px;
					color: $orange;
					margin: 0 0 4px 0;
				}
				.textwidget {
					font-size: 14px;
					color: $eggshell;
					@include break(0px, 610px) {
						margin-bottom: 20px;
					}
				}
			}	
	 	}
	 div.search-form {
	 	margin-top: 4px;
	 	label {
	 		font-family: $headings;
	 		font-weight: bold;
	 	}
	 }
	}

	
	input.search-field {
		width: 120px;
		border: 3px;
		border-color: $white;
	}
	input.search-submit {
		background-color: $eggshell;
		border: none;
	}
	.footer-name-year {
		text-align: center;
		width: 80%;
		margin:  0px auto;	
		color: $orange;
	}
}

// To make footer stay at the bottom of page
html{
  position:relative; 
  min-height: 100%;
}
.container{
  margin-bottom:180px;/* Height of footer (incl. padding!)*/
} 
.site-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
div.footer-widget {
	color: $white;
}