// Header style

div.header-wrapper {
	background-color: $bluetwo;
	width: auto;
	height: auto;
	margin: 0;
	.site-header {
		.header-title {
			max-width: 80%;
			margin: 0 auto;
			text-align: center;
			h1 {
				font-size: 90px;
				color: $blueone;
				@include break(600px, 9000px) {
					font-size: 150px;	
				}
			}
			p {
				color: $white;
				@include break(600px, 9000px) {
						font-size: 20px;	
				}
			}
		}
	}
}

// Navigation bar
.site-nav {
	max-width: 80%;
	padding-top: 20px;
	margin: 0 auto;
}

.site-nav-other {
	background-color: $milk;
	padding: 5px 80px;
	margin: 0 auto;
	@include break(601px, 750px) {
		padding: 5px 20px;
	}
		@include break(0px, 600px) {
		padding: 5px 0;
	}
}

ul.menu {
	padding: 0;
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
	@include break(600px, 9000px) {
		padding-left: 28px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
    }
	li {
	list-style: none;
	padding: 5px;
		@include break(600px, 9000px) {
		float: left;
		text-align: center;
		}
		a {
	    	font-size: 14px;
	    	color: black;
	    	font-weight: bold;
	    	text-decoration: none;
	    	&:hover {
	    		font-weight: normal;
	    	}
  		}
	}
}

