// Page.php 
div.intro-text {
	background-color: $white;
	width: auto;
	padding-bottom: 20px;

	article.post {
		background-color: $white;
		margin: 0 auto;
		max-width: 700px;
		padding: 50px;
		@include break(950px, 9000px) {
			margin: 0px auto;
		}		
		p {
	  		line-height: 1.4em;
	  		margin: 5px 0;
	  		a {
	  			font-size: 12px;
	  		}
	    }
	    h1 {
			color: $orange;
			@include break(0px, 600px) {
			    text-align: center;
			}
		}
	}
}

// Page-min-portfolio style
aside.clear {
	padding-bottom: 60px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include break(0px, 550px) {
		display: block;
	}
	div.item {
		width: 45%;
		padding-bottom: 60px;
		@include break(0px, 550px) {
			margin: 0 auto;
			width: 90%;
		}
		h3 {
			color: $orange;
		}
	}
}