// single post page

div.post-container-single {
	width: 80%;
	margin:0 auto;
	article.post {
		//margin-top: 50px;
		display: flex;

		margin: 0 auto;
		//max-width: 90%;
		padding: 50px;
		@include break(0px, 690px) {
			display: block;
			padding: 0 50px 70px 50px;
		}
		div.thumbnail-large {
			padding: 20px;
		@include break(0px, 690px) {
			text-align: center;
			}
		}
		div.post-container-content {
			padding: 30px;
			@include break(0px, 690px) {
				padding: 0px;
			}
			h2 {
				color: $orange;
				padding-bottom: 10px;
				@include break(0px, 690px) {
					text-align: center;
				}
			}
		}
	}	
}
















