// Search style
div.post-container-search{
	div.result {
		margin: 50px;
	}
	p {
		margin-left: 50px;
	}
}

div.searchresult-boxes {
	margin: 0 auto;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.searchbox {
		margin: 10px;

	}
}

.image {
	.title{
		h3 {
			a {
			color: $orange;
			}
		}
	}
}

.meta {
	.categories {
		font-size: 14px;
		font-weight: bold;		
	}
	.date {
		font-size: 14px;
	}
}