
// Colors
$bluetwo: #179aab;
$blueone: #05bbd2;
$bluethree: #0e7684;
$white: #fff;
$black: #000;
$gray: #9e9e9e;
$graydark: #716e69;
$eggshell: #ebebd3;
$milk: #f9f8f1;
$darkerorange: #d6911b;
$orange: #ff9800;

// Fonts
$headings: Baskerville, serif;
$content-text: Avenir, sans-serif;

