/*
Theme Name: CV_Theme
Version: 1.0
 */
@import "normalize";
@import "variables";
@import "mixin";
@import "footer";
@import "header";
@import "page";
@import "post";
@import "search";
@import "404";


/* general style*/
div.container {
  max-width: 100%;
  padding: 0;
  font-family: $content-text;
  line-height: 1.5;
}
	
h1, h2, h3, h4, h5 {
	font-family: $headings;
	margin: 0;
}
	
p {
	margin: 0;
}


// Front page
// Image between header and presentation
.header-halfmoon-eggshell {
	background-color: $bluetwo;
	img {
		display: none;
			@include break(925px, 9000px) {
				margin: 0 20% 0 80%;
				display: block;
		}
	}
}

// Presentation container
div.presentation-container {
	background-color: $eggshell;
	min-height: 150px;
	width: auto;
	div.presentation-text {
		width: 70%;
		margin: 0 auto;
		padding: 25px 5px;
		@include break(925px, 9000px){
			max-width: 55%;
		}
		h1 {
			text-align: center;
			color: $gray;
			padding: 10px 5px;
		}
		p {
			padding: 15px 3px;
		}
	}
}

div.header-halfmoon-two {
	background-color: $eggshell;
	img {
		display: none;
			@include break(925px, 9000px) {
			margin-left: 7%;
			display: block;
		}
	}		
}


//Post container style - general
div.post-container {
	background-color: $white;
	width: auto;
	padding-bottom: 20px;
	.title-center {
		text-align: center;
		color: $gray;
		padding: 35px 5px;
	}
	.category-title {
		text-align: left;
		color: $orange;
		padding: 35px 5px;
		margin-left: 14%;
		@include break(0px, 999px) {
			text-align: center;
			margin-left: 0;
		}
	}
	article.post {
		background-color: $milk;
		margin: 10px auto;
		width: 250px;
		border: 5px $orange solid;
		@include break(0px, 400px) {
			width: auto;
		}
		p {
	  		a {
	  			font-size: 12px;
	  		}
	    }
	    h3 {
	    	a {
			color: $orange;
			}
		}
	}
}

div.post-page {
	margin: 0 auto;
	padding: 20px;
}

.flex-container {
	@include break(950px, 9000px) {
		width: 75%;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}	
} 

// Page style
.page-container {
	margin: 0 auto;
}


// Thumbnail style 
article.has-thumbnail {
	position: relative;
	padding: 12px 12px 12px 100px;
	a {
		text-decoration: none;
		color: $graydark;
	 }
	
	.post-thumbnail {
		width: 70px;
		height: 65px;
		position: absolute;
		left: 10px;
		top: 8px;
		img.wp-post-image {
			display: block; 
			margin:  auto;
			height:100%;

		}
	}
}


div.header-halfmoon-three {
	background-color: $white;
	img {
		display: none;
			@include break(925px, 9000px) {
			margin-left: 80%;
			display: block;
		}
	}		
}

// Above footer area ("Sidebar")
div.above-footer-container {
	background-color: $eggshell;
	width: auto;
		@include break(925px, 9000px) {
			display: flex;
			flex-direction: row;
			justify-content: space-around; 
		}
	.above-footer-widget {
		margin: 0 auto;
		width: 200px;
		padding: 30px;
		li {
			list-style: none;
			h2 {
				text-align: center;
			}
		}
	}
}

























